[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
pyside2 = "*"
sqlalchemy = "*"
altair = "*"
sqlalchemy-migrate = "*"
selenium = "*"
jupyterlab = "*"
requests = "*"
dataclass-csv = "*"
xlrd = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
